@model LoginModel
@{
    ViewData["Title"] = SharedLocalizer["Log In"];
}

<div class="shadow mt-30">
    <div class="p-10 bg-light font-weight-bold border-bottom">
        @SharedLocalizer["Log In"]
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <div style="padding: 10px; text-align:center;">
            <p style="font-style: italic;">@Localizer["Already login msg 1"]<a href="~/Account/Logout">@Localizer["Already login msg 2"]</a>?</p>
        </div>
    }
    else
    {
        <div class="row p-10">
            <div class="col-lg-12">
                <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                    <div class="validation" asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">@Localizer["Email"]</label>
                        <input type="text" asp-for="Email" class="form-control" />
                        <span class="small" asp-validation-for="Email" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">@Localizer["Password"]</label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span class="small" asp-validation-for="Password" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@SharedLocalizer["Log In"]" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    }
</div>
